body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}
ul{
    display: flex;
    text-decoration: none;
    list-style: none;
}
li:hover{
     background-color: rgb(10, 10, 10);
        border-radius: 30px;
}
#modalidadeInfo{
    color:rgb(255, 255, 255);
    justify-content: center;
    border: 2px solid;
    background-color: rgb(63, 63, 95);
    border-radius: 10px;
    margin: 40px;
    padding-right: 30px;
    display: flex;
    width: auto;
}
.texto2{
    padding: 10px;
}
#info{
    display: flex;
    justify-content: center;
}
#capa{
    width: 370px;
    height: 400px;
    margin: 0%;
}
p{
    color:#fff9f9
}
.caixa{
    color:rgb(255, 255, 255);
    justify-content: center;
    border: 2px solid;
    background-color: rgb(45, 47, 103);
    border-radius: 10px;
    margin: 40px;
    padding-right: 30px;
    display: flex;
    width: auto;
}
#generos ul{
 margin-left: 250px;
}
#generos{
    text-decoration: none;
    color:#fff9f9;
}
.ondeass {
    border: 2px solid #060606;
    border-radius: 100%;
    width: 45px;
    height: 45px;
}
li {
    margin-left: 5px;
    text-align: center;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
}
#where{
    text-align: center;
    justify-content: center;
}
#channels{
    justify-content: center;
    padding: 0;
}
.comentario{
    display: flex;
    margin: 10px;
}
.nomecomentario{
    margin-top: 0px;
    margin-left: 10px;
}
#pfp{
    width: 5%;
    height: 5%;
    border-radius: 50px;
}
hr{
    opacity: 0.2;
    outline: none;
    width: 1000px;
}
#titulo{
    font-size: 400%;
}
h1{
    padding-left: 30px;
}