<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>reder</title>
    <link href="../layouts/header.css" rel="stylesheet">

<body>
    <header>
        <div class="container">
            <a href="../pages/sobreSenai.html" target="_parent"><img id="logo" src="../assets/images/images (1).png" alt="logo do site" ></a>

            <nav>
                <ul>
                    <li><a href="../pages/sobreGincana.html" target="_parent">Sobre a gincana</a></li>
                    <li><a href="../pages/modalidades.html" target="_parent">Modalidades</a></li>
                    <li><a href="../pages/intuito.html" target="_parent">intuito da gincana</a></li> 
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>